.vscode/launch.json
.vscode/tasks.json
bin/Debug/net7.0/appsettings.Development.json
bin/Debug/net7.0/appsettings.json
bin/Debug/net7.0/WebApi.deps.json
bin/Debug/net7.0/WebApi.runtimeconfig.json
obj/Debug/net7.0/project.razor.json
obj/Debug/net7.0/staticwebassets.build.json
obj/Debug/net7.0/WebApi.csproj.CopyComplete
obj/Debug/net7.0/WebApi.csproj.FileListAbsolute.txt
obj/Debug/net7.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/WebApi.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net7.0/staticwebassets/msbuild.build.WebApi.props
obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.WebApi.props
obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.WebApi.props
obj/Debug/net7.0/project.razor.json
obj/Debug/net7.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/project.razor.json
obj/Debug/net7.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
